.header {
  text-align: center;
  color: white;
  margin: 0;
  height: 3em;
  background-color: black;
}

div.card-item {
  height: 150px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin: 10px;
  flex-basis: calc(20% - 22px);
}

.card-item > h1 {
  color: black;
  font-size: 1em;
}

.button-left {
  left: 0%;
}

.button-right {
  right: 100%;
}
