.header {
  text-align: center;
  color: white;
  margin: 0;
  height: 3em;
  background-color: black;
}

div.card-item {
  height: 300px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin: 5px;
  flex-basis: calc(20% - 22px);
}

.card-item > h4 {
  color: black;
  font-size: 1em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  height: fit-content;
}

.button-left {
  left: 0%;
}

.button-right {
  right: 100%;
}

/* relevant styles */
.img__wrap {
  position: relative;
  height: 200px;
  width: 257px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  height: auto;
  opacity: 0;
  text-align: center;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
  margin-top: 0;
  margin-bottom: 0;
}

.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}
