.header {
  /* text-align: center; */
  color: white;
  margin: 0;
  height: 5em;
  background-color: black;
}

.button-left {
  left: 0%;
  float: left;
}

.button-right {
  right: 100%;
  float: right;
}
